* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins' , sans-serif;
}

body {
    min-height: 100vh;
    background: #252525;
    width: 100vw;
}

header {
   background-color: rgba(255, 166, 0); /* Set a semi-transparent background color */
}

 .nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    
 }

.nav-bar-left, .nav-bar-right {
   display: flex;
   align-items: center;
   background-color: rgba(85, 85, 85, 0.5);
   border-radius: 20px;
}

.nav-bar-right {
   padding: 14.5px 0px;
}

.nav-left img.logo {
   height: 20px;
   margin-right: 15px;
}

.nav-bar-left a, .nav-bar-right a {
   color: #fff;
   text-decoration: none;
   padding: 10px 25px;
   transition: backgroung-color 0.3s;
}

.nav-bar-left a:hover, .nav-bar-right a:hover {
   background-color: #ff5100;
   border-radius: 20px;
}

.background-image {
   background-image: url('src/wallpaper.jpg');
   background-size: cover;
   background-position-y: -150px;
   height: 500px;
   position: relative;

 }

.outlined-header {
   position: absolute; /* Use absolute positioning */
    top: 50%; /* Move to the middle of the container */
    left: 50%; /* Move to the middle of the container */
    transform: translate(-50%, -50%); /* Center the element */
    background-color: rgba(255, 102, 0, 0.6);
    padding: 10px 20px; /* Adjust padding as needed */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    color: white;
    font-size: 2em;
    font-weight: bolder;
    text-align: center; /* Center the text */
    text-shadow: -1px -1px 0 #000,  
                 1px -1px 0 #000,
                 -1px 1px 0 #000,
                 1px 1px 0 #000;
   
}